
extends layout

block content
      main(role='main')
      // Main jumbotron for a primary marketing message or call to action
      .jumbotron.jumbo-set-margin
        .container
          h3.display-5 Η Εταιρία μας
          |           
          p.display-5
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices, sem vitae sodales eleifend, tellus dolor iaculis est, condimentum suscipit nisi dui nec quam. Cras quis sollicitudin orci. Integer vestibulum velit scelerisque neque pharetra, vitae semper turpis suscipit. Proin  | consectetur elit enim, at feugiat quam hendrerit vitae. Nulla tempus consectetur velit in imperdiet. Donec vel molestie ex. Quisque malesuada, est eu sollicitudin placerat, nisi orci tincidunt diam, vitae consequat turpis ex vel eros. Integer lorem lorem, tristique vel tellus a,       | maximus auctor erat. In eu diam condimentum, pulvinar mi vel, rhoncus lectus.
        .container
          
         #carouselExampleIndicators.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
           li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
           li(data-target='#carouselExampleIndicators', data-slide-to='1')
           li(data-target='#carouselExampleIndicators', data-slide-to='2')
          .carousel-inner
            .carousel-item.active
             img.d-block.w-100(src='images/bus4.jpg', alt='First slide')
            .carousel-item
             img.d-block.w-100(src='images/bus4.jpg', alt='Second slide')
            .carousel-item
             img.d-block.w-100(src='images/bus4.jpg', alt='Third slide')
          a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
         br
         p.display-5
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices, sem vitae sodales eleifend, tellus dolor iaculis est, condimentum suscipit nisi dui nec quam. Cras quis sollicitudin orci. Integer vestibulum velit scelerisque neque pharetra, vitae semper turpis suscipit. Proin  | |consectetur elit enim, at feugiat quam hendrerit vitae. Nulla tempus consectetur velit in imperdiet. Donec vel molestie ex. Quisque malesuada, est eu sollicitudin placerat, nisi orci tincidunt diam, vitae consequat turpis ex vel eros. Integer lorem lorem, tristique vel tellus a,       | ||maximus auctor erat. In eu diam condimentum, pulvinar mi vel, rhoncus lectus.

         
         

