
extends layout

block content

       .jumbotron.jumbo-set-margin.text-center

         .container
          .row
      
          
           a(href='romatza_eglikada').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
             p.mt-3.opacity-no-hover.h5.text-weight-bold ΓΡΑΜΜΗ Νο1 <br><br> ΡΟΜΑΝΤΖΑ-ΕΓΛΥΚΑΔΑ         
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold ΓΡΑΜΜΗ Νο2 <br><br> ΤΑΡΑΜΠΟΥΡΑ-ΝΕΟΣ ΔΡΟΜΟΣ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold ΓΡΑΜΜΗ Νο3 <br><br> ΖΑΡΟΥΧΛΕΙΚΑ-ΘΕΡΜΟΠΥΛΩΝ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold ΓΡΑΜΜΗ Νο4 <br><br> ΚΟΛΟΚΟΤΡΩΝΗ-ΑΡΟΗ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold ΓΡΑΜΜΗ Νο5 <br><br> ΚΑΡΟΛΟΥ-ΤΣΟΥΚΑΛΕΙΚΑ
           
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold ΓΡΑΜΜΗ Νο6 <br><br>  ΚΑΡΟΛΟΥ-ΡΙΟ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold ΓΡΑΜΜΗ Νο6 <br><br> EXPRESS-ΠΑΝΕΠΙΣΤΗΜΙΟ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold ΓΡΑΜΜΗ Νο6 <br><br> ΕΡΜΟΥ-ΠΑΝΕΠΙΣΤΗΜΙΟ-<br>ΝΟΣΟΚΟΜΕΙΟ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold ΓΡΑΜΜΗ Νο6 <br><br> ΠΑΡΑΛΙΑ ΠΡΟΑΣΤΕΙΟΥ-<br>ΚΑΣΤΕΛΛΟΚΑΜΠΟΣ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold ΓΡΑΜΜΗ Νο7 <br><br> ΚΑΡΟΛΟΥ-ΜΠΕΓΟΥΛΑΚΙ-<br>ΣΑΡΑΒΑΛΙ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold ΓΡΑΜΜΗ Νο8 <br><br> ΠΑΤΡΑ-ΑΝΩ ΚΑΤΩ ΟΒΡΥΑ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold ΓΡΑΜΜΗ Νο9 <br><br> ΕΛΛΗΝΟΣ ΣΤΡΑΤΙΩΤΟΥ-<br>ΠΑΝΕΠΙΣΤΗΜΙΟ-<br>ΝΟΣΟΚΟΜΕΙΟ           
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold ΓΡΑΜΜΗ Νο11 <br><br> ΠΑΡΚΙΝ ΤΕΡΨΙΘΕΑ (ΔΕΛΦΙΝΙ)
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold ΓΡΑΜΜΗ Νο18 <br><br> ΛΙΜΑΝΙ
 
              
    

          