
extends layout

block content

       .jumbotron.jumbo-set-margin.text-center.font-weight-bold
        .col-xl-12
         h3.text-center(style='font-weight:700;') Γραμμές 
          span.fas.fa-bus-alt
         hr
         
         .row

      
          
           a(href='romatza_eglikada').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
             p.mt-3.opacity-no-hover.h5.text-weight-bold.button-whitespace.font-weight-bold Νο1 <br> ΡΟΜΑΝΤΖΑ - ΕΓΛΥΚΑΔΑ  – ΔΙΑΚΟΥ - ΡΩΜΑΝΟΥ        
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold.button-whitespace.font-weight-bold  Νο2 <br> ΤΑΡΑΜΠΟΥΡΑ-ΝΕΟΣ ΔΡΟΜΟΣ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold.button-whitespace.font-weight-bold  Νο3 <br> ΖΑΡΟΥΧΛΕΙΚΑ-ΘΕΡΜΟΠΥΛΩΝ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold.button-whitespace.font-weight-bold  Νο4 <br> ΚΟΛΟΚΟΤΡΩΝΗ-ΑΡΟΗ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold.button-whitespace.font-weight-bold  Νο5 <br> ΚΑΡΟΛΟΥ-ΤΣΟΥΚΑΛΕΙΚΑ
           
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold.font-weight-bold.button-whitespace  Νο6 <br>  ΚΑΡΟΛΟΥ-ΡΙΟ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold.font-weight-bold.button-whitespace  Νο6 <br> EXPRESS-ΠΑΝΕΠΙΣΤΗΜΙΟ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold.font-weight-bold.button-whitespace  Νο6 <br> ΕΡΜΟΥ-ΠΑΝΕΠΙΣΤΗΜΙΟ-<br>ΝΟΣΟΚΟΜΕΙΟ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold.font-weight-bold.button-whitespace  Νο6 <br> ΠΑΡΑΛΙΑ ΠΡΟΑΣΤΕΙΟΥ-<br>ΚΑΣΤΕΛΛΟΚΑΜΠΟΣ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold.font-weight-bold.button-whitespace  Νο7 <br> ΚΑΡΟΛΟΥ-ΜΠΕΓΟΥΛΑΚΙ-<br>ΣΑΡΑΒΑΛΙ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold.font-weight-bold.button-whitespace  Νο8 <br> ΠΑΤΡΑ-ΑΝΩ ΚΑΤΩ ΟΒΡΥΑ
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold.font-weight-bold.button-whitespace  Νο9 <br> ΕΛΛΗΝΟΣ ΣΤΡΑΤΙΩΤΟΥ-<br>ΠΑΝΕΠΙΣΤΗΜΙΟ-<br>ΝΟΣΟΚΟΜΕΙΟ           
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold.font-weight-bold.button-whitespace  Νο11 <br> ΠΑΡΚΙΝ ΤΕΡΨΙΘΕΑ (ΔΕΛΦΙΝΙ)
           a(href='#').btn.btn-primary.border.border-light
            .col-md-6.min-width-height
              p.mt-3.opacity-no-hover.h5.text-weight-bold.font-weight-bold.button-whitespace  Νο18 <br> ΛΙΜΑΝΙ
 
              
    

          