
extends layout

block content
      main(role='main')
      // Main jumbotron for a primary marketing message or call to action
      .jumbotron.jumbo-set-margin#bus-background
       h1.display-4#welcome-title #{siteTitle}
        |   
        p.lead#welcome-paragraph
         | Καλώς ήρθατε στην επίσημη ιστοσελίδα των Αστικών Συγκοινωνιών της πόλης των Πατρών. Εδώ θα βρείτε όλες τις απαραίτητες πληροφορίες για την μετακίνηση σας. Ετοιμαστείτε για... Επιβίβαση!
      .row.row-set-margin
       .col-md-4

          .jumbotron
            h2 Ανακοινώσεις &nbsp
             span.fas.fa-bullhorn
            
            p
            
             a(href='#') (7/9/2018) Το ΑΣΤΙΚΟ ΚΤΕΛ ΠΑΤΡΩΝ Α.Ε. επανναπροκυρήσσει μειοδοτικό διαγωνισμό για την προμήθεια χειμερινών στολών προσωπικού έτους 2018-2019.&nbsp;
             span.badge.badge-danger.blink_me NEO
            p
             a(href='#') (7/9/2018) Το ΑΣΤΙΚΟ ΚΤΕΛ ΠΑΤΡΩΝ Α.Ε. ανακοινώνει την έναρξη χειμερινών δρομολογίων 2018-2019 την Τρίτη 11 Σεπτεμβρίου 2018.&nbsp;
             span.badge.badge-danger.blink_me NEO
            
            p
             a(href='contact') Η νέα διεύθυνση των γραφείων του Αστικού ΚΤΕΛ Πατρών είναι Αγίου Ανδρέου 9.&nbsp
             span.blink_me.badge.badge-warning ΣΗΜΑΝΤΙΚΟ!
            p.text-right
             a.btn.btn-secondary.btn-sm(href='#', role='button') Όλες οι Ανακοινώσεις &raquo;
             
       .col-md-8
        .jumbotron
        
               
      .row.row-set-margin.btn-primary
          .col-md-6
           a.btn.btn-block.btn-primary(style="width: 100%; height:100%;  padding:50px; margin-bottom:20px; ", href='bus_routes')
             h2 Δρομολόγια&nbsp
              span.fas.fa-route(style='font-size: 40px;') &nbsp 
              
          .col-md-6
           a.btn.btn-block.btn-primary(style="width: 100%; height:100%;  padding:50px; margin-bottom:20px; ", href='bus_routes')
             h2 Εισιτήρια-Κάρτες&nbsp
              span.fas.fa-ticket-alt(style='font-size: 40px;') &nbsp
       .row.row-set-margin.btn-primary
          .col-md-6
           a.btn.btn-block.btn-primary(style="width: 100%; height:100%;  padding:50px; margin-bottom:20px; ", href='bus_routes')
             h2 Σημεία Ενδιαφέροντος&nbsp
              span.fas.fa-map-marker-alt(style='font-size: 40px;') &nbsp 
              
          .col-md-6
           a.btn.btn-block.btn-primary(style="width: 100%; height:100%;  padding:50px; margin-bottom:20px; ", href='bus_routes')
             h2 Χάρτης&nbsp
              span.fas.fa-map(style='font-size: 40px;') &nbsp
