
extends layout

block content
     main(role='main')
      // Main jumbotron for a primary marketing message or call to action
      .jumbotron.jumbo-set-margin#bus-background
       h1.display-4#welcome-title(style='margin-top: 200px;') #{siteTitle}
        |   
        p.lead#welcome-paragraph(style='margin-top: 50px;')
         | Καλώς ήρθατε στην επίσημη ιστοσελίδα των Αστικών Συγκοινωνιών της πόλης των Πατρών. Εδώ θα βρείτε όλες τις απαραίτητες πληροφορίες για την μετακίνηση σας. Ετοιμαστείτε για... Επιβίβαση!
      
      .jumbotron.margin-padding-0
       .row.row-set-margin
        .col-md-4

          .jumbotron
            h2.text-center Ανακοινώσεις &nbsp
             span.fas.fa-bullhorn
            hr
            p
            
             a(href='#') (7/9/2018) Το ΑΣΤΙΚΟ ΚΤΕΛ ΠΑΤΡΩΝ Α.Ε. επανναπροκυρήσσει μειοδοτικό διαγωνισμό για την προμήθεια χειμερινών στολών προσωπικού έτους 2018-2019.&nbsp;
             span.badge.badge-danger.blink_me NEO
            p
             a(href='#') (7/9/2018) Το ΑΣΤΙΚΟ ΚΤΕΛ ΠΑΤΡΩΝ Α.Ε. ανακοινώνει την έναρξη χειμερινών δρομολογίων 2018-2019 την Τρίτη 11 Σεπτεμβρίου 2018.&nbsp;
             span.badge.badge-danger.blink_me NEO
            
            p
             a(href='contact') Η νέα διεύθυνση των γραφείων του Αστικού ΚΤΕΛ Πατρών είναι Αγίου Ανδρέου 9.&nbsp
             span.blink_me.badge.badge-warning ΣΗΜΑΝΤΙΚΟ!
            p.text-right
             a.btn.btn-secondary.btn-sm(href='#', role='button') Όλες οι Ανακοινώσεις &raquo;
             
        .col-md-8
         .jumbotron
      
     .jumbotron.bg-primary
      .row.row-no-padding.jumbo-set-margin
      
       .col-xl-6.nopadding
        a(href='#').btn.btn-primary.btn-block.padding-20
         h2 Δρομολόγια&nbsp
          span.fas.fa-route(style='font-size: 40px;') &nbsp 
         
       .col-xl-6.nopadding
        a(href='#').btn.btn-primary.btn-block.padding-20.button-whitespace
          h2 Εισιτήρια-Κάρτες&nbsp
           span.fas.fa-ticket-alt(style='font-size: 40px;') &nbsp
       .col-xl-6.nopadding
        a(href='#').btn.btn-primary.btn-block.padding-20.button-whitespace
          h2 Σημεία Ενδιαφέροντος&nbsp
              span.fas.fa-map-marker-alt(style='font-size: 40px;') &nbsp 
       .col-xl-6.nopadding
        a(href='#').btn.btn-primary.btn-block.padding-20.button-whitespace
         h2 Χάρτης&nbsp
              span.fas.fa-map(style='font-size: 40px;') &nbsp  
       .col-xl-6.nopadding
        a(href='#').btn.btn-primary.btn-block.padding-20.button-whitespace
          h2 Διαφήμιση&nbsp
           span.fas.fa-.fa-ad(style='font-size: 40px;') &nbsp
       .col-xl-6.nopadding
        a(href='#').btn.btn-primary.btn-block.padding-20.button-whitespace
          h2.font-weight-bold Η Εταιρία μας&nbsp
           span.fas.fa-building(style='font-size: 40px;') &nbsp