doctype 5
html
  head
    title ΑΣΤΙΚΟ ΚΤΕΛ ΠΑΤΡΩΝ ΑΕ
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap core CSS
    link(href='stylesheets/bootstrap.css', rel='stylesheet', type='text/css')
    // Custom styles for this template
    link(href='stylesheets/custom.css', rel='stylesheet', type='text/css')
    link(href='/css/all.css', rel='stylesheet', type='text/css')
    // link(href='/css/all.css', rel='stylesheet')
  body
   
    nav.navbar.navbar-expand-xl.navbar-dark.navbar-fixed-top.bg-primary#navbar-custom-values
      a.navbar-brand(href='/', title='Αρχική Σελίδα')#opacity-title
       span.fas.fa-bus-alt &nbsp
      span.bg-primary.navbar-brand.opacity-no-hover #{title}
      |       
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
        |        
      #navbarsExampleDefault.collapse.navbar-collapse
                                  
             

        #navbarsExampleDefault.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.nav-item.dropdown
            a.nav-link(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='true').dropdown-toggle
             span.fas.fa-route &nbsp Δρομολόγια
             span.caret
            ul.dropdown-menu.nav-item.bg-primary.button-radius
             li.nav-item
              a(href='#').nav-link Χειμερινά Δρομολόγια 2018-2019                            
             li.nav-item
              a(href='#').nav-link Νυχτερινά Δρομολόγια                  
          
                    
          li.dropdown.nav-item
           a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='true').nav-link
              
             span.nav-label.fas.fa-ticket-alt &nbsp Εισιτήρια-Κάρτες            
             span.caret             
            ul.dropdown-menu.nav-item.bg-primary.button-radius
             li.nav-item
              a(href='#').nav-link Εισιτήρια                            
             li.nav-item
              a(href='#').nav-link Κάρτες Απεριορίστων Διαδρομών
          li.nav-item
              a.nav-link(href='#')
               span.fas.fa-map-marker-alt &nbsp Σημεία Ενδιαφέροντος   
          li.nav-item
              a.nav-link(href='#')
               span.fas.fa-map &nbsp Χάρτης 
          li.nav-item
              a.nav-link(href='#')
               span.fas.fa-ad &nbsp Διαφήμιση
        ul.nav.navbar-nav.navbar-right
          li.nav-item
            a.nav-link(href='/about')
             span.fas.fa-building &nbsp Η Εταιρία μας
          li.nav-item
            a.nav-link(href='/contact')
             span.fas.fa-phone-square &nbsp Επικοινωνία
          |           
          
        
    
    //
    block content
    include footer
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\\/script>')
    script(src='../../assets/js/vendor/popper.min.js')
    script(src='javascripts/bootstrap.js')
    script(src='javascripts/customScript.js')

    
