extends layout

block content
 .jumbotron.margin-padding-10
  .row
   .col-xl-2
   .col-xl-3
   .col-xl-7
    h3.font-weight-bold(style='margin-top:25px') Όλα τα δρομολόγια 
     span.fas.fa-route
  hr
 
 .jumbotron.jumbo-set-margin
  .container
   .row
    .col-xl-12
     .map-container.embed-responsive.embed-responsive-4by3(style='margin-top:-80px;')
             iframe.embed-responsive-item(src='https://www.google.com/maps/d/embed?mid=1LP-JieqtwB0htg5y8lecc580J0SqwzkO', width='auto', height='auto', frameborder='0', style='border:0; margin-top:-46px;', allowfullscreen)