extends layout

block content
 .jumbotron
  .container
   .row
    .col-xl-12
     .map-container.embed-responsive.embed-responsive-4by3
             iframe.embed-responsive-item(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3133.239015266674!2d21.735213715731287!3d38.25076227967568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135e49c286808e33%3A0xf206343ebdb31bcd!2zzpHOs86vzr_PhSDOkc69zrTPgc6tzr_PhSA5LCDOoM6sz4TPgc6xIDI2MiAyMQ!5e0!3m2!1sel!2sgr!4v1537455173411', width='auto', height='auto', frameborder='0', style='border:0', allowfullscreen)