extends layout

block content
 .jumbotron.margin-padding-10
  .row
   .col-xl-2
   .col-xl-3
   .col-xl-7
    h3.font-weight-bold Όλα τα δρομολόγια
  hr
 
 .jumbotron.margin-padding-10
  .container
   .row
    .col-xl-12
     .map-container.embed-responsive.embed-responsive-4by3
             iframe.embed-responsive-item(src='https://www.google.com/maps/d/embed?mid=1LP-JieqtwB0htg5y8lecc580J0SqwzkO', width='auto', height='auto', frameborder='0', style='border:0', allowfullscreen)