
extends layout

block content

      // Main jumbotron for a primary marketing message or call to action
      
      .jumbotron.margin-padding-10
       .row
        .col-md-2
         .text-weigth-bold
      
          .container
           a(href='bus_routes', style='margin-top:32px; margin-left:-15px').btn.btn-md.btn-primary.font-weight-bold
             span.fas.fa-caret-left.btn-primary 
              span(style='font-family: sans-serif; opacity:0.8')  Πίσω στα δρομολόγια
           span.btn-block 
            
                  
        .col-md-2
          
                   
        .col-md-8
          h5.font-weight-bold.text-muted  Δρομολόγιο: 
           span.font-weight-bold ΡΟΜΑΝΤΖΑ - ΕΓΛΥΚΑΔΑ - ΔΙΑΚΟΥ - ΡΩΜΑΝΟΥ
          h5.font-weight-bold.text-muted 
           span.form-inline(style='margin-top: 7px; margin-bottom:-5px;')             
                 label(for='single', style='font-family: sans-serif;, border-radius: 25px;')Προορισμός:&nbsp
                  select#single.form-control.form-control-md.btn.btn-md.btn-primary.font-weight-bold.single-label
                        option(value=0).font-weight-bold Επιλέξτε προορισμό .... 
                         span    
                        option(value='eglykada')ΕΓΛΥΚΑΔΑ
                        option(value='diakou') ΔΙΑΚΟΥ
                        option(value='elekistra') ΕΛΕΚΙΣΤΡΑ 
           
          
       
         
      
      
       hr
       
      .jumbotron.margin-padding-10
       .row(style='margin-top:-30px;')
        .col-md-6.margin-form-fix
         .jumbotron
           p.h6#timetable
         
          
             
        .col-md-6.margin-form-fix
          
            .map-container.embed-responsive.embed-responsive-4by3.map-background
             iframe.embed-responsive-item#iframe(src='', width='auto', height='auto', frameborder='0', style='border:0; margin-top:-46px;', allowfullscreen)

             
