
extends layout

block content

      // Main jumbotron for a primary marketing message or call to action
      
      .jumbotron.margin-padding-10
       .row
        .col-xl-4
         .row.text-weigth-bold
      
         
           a(href='bus_routes').btn.btn-sm.btn-primary.font-weight-bold
             span.fas.fa-long-arrow-alt-left.btn-primary 
              span(style='font-family: sans-serif; opacity:0.8') &nbsp Πίσω στα δρομολόγια
        
          
                   
        .col-xl-4
          h5.font-weight-bold Δρομολόγιο: #{title}
           span.form-inline
                 label(for='single') Προορισμός:&nbsp
                  select#single.form-control.form-control-md.bg-light.border-radius-0.font-weight-bold.single-label
                        option(value=0) Επιλέξτε προορισμό...                  
                        option(value='eglykada')ΤΕΡΨΙΘΕΑ-ΕΓΛΥΚΑΔΑ
                        option(value='diakou') ΤΕΡΨΙΘΕΑ-ΔΙΑΚΟΥ
                        option(value='plaz-romanou') ΠΛΑΖ-ΡΩΜΑΝΟΥ
                        option(value= 'romanou-synora') ΡΩΜΑΝΟΥ-ΣΥΝΟΡΑ
        .col-xl-4
         
      
      
       hr
      .jumbotron.margin-padding-10
       .row
        .col-xl-6.margin-form-fix.calendar-alt-background
         .map-container.embed-responsive.embed-responsive-4by3
          .embed-responsive-item
           h2#timetable-title
           
           
           br
           p#timetable
            br
            br
          
             
        .col-md-6.margin-form-fix
          
            .map-container.embed-responsive.embed-responsive-4by3.map-background
             iframe.embed-responsive-item#iframe(src='', width='auto', height='auto', frameborder='0', style='border:0', allowfullscreen)

             
